{% extends "base.html" %}

{% block title %}Vocabulary List{% endblock %}

{% block menu_list %}class="active"{% endblock %}

{% block content %}
    <h1>Vocabulary List</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>German</th>
                <th>Swedish</th>
                <th>Learned</th>
                <th>Category</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        {% for item in voclist %}
            <tr>
            {% for word in item %}
                <td>{{ word }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
